.first-slide {
    text-align: center;
    background-color:grey;
    opacity: 0.28"
}
.second-slide {
    background-color:grey;
    opacity: 0.28"
}
.third-slide {
    background-color:grey;
    opacity: 0.28"
}
.container {
    width: 40%;
}